@model AgroPlan.Web.Models.SprayingMixture.SprayingMixtureDetailsViewModel

<div class="modal-body mx-3">
    <div class="form-group">
        @Html.DisplayNameFor(model => model.Name) :
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(model => model.ReasonForUse) :
        @Html.DisplayFor(model => model.ReasonForUse)
    </div>
    <h4>Zawartość</h4>
    @foreach (var component in Model.Components)
    {
        <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-8">
                    @Html.DisplayFor(model => component.Name)
                </div>
                <div class="form-group col-md-2">
                    @Html.DisplayFor(model => component.Content)
                </div>
                <div class="form-group col-md-2">
                    @Html.DisplayFor(model => component.Unit)
                </div>
            </div>
        </div>

    }
</div>
